@font-face {
  font-family: Gilroy;
  font-weight: 300;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: Gilroy;
  font-weight: 800;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

:root {
  --font-open-sans: "Open Sans", Arial, sans-serif;
  --font-gilroy: Gilroy, Arial, sans-serif;

  --color-black: #000;
  --color-extra-dark-yellow: #FFC600;
  --color-dark-yellow: #F0C52E;
  --color-yellow: #F7E296;
  --color-white: #FFF;
  --color-extra-gark-grey: #363636;
  --color-dark-grey: #DCDCDC;
  --color-grey: #D9D9D9;
  --color-light-grey: #EBEBEB;
  --color-medium-light-grey: #EAEAEA;
  --color-extra-light-grey: #E5E5E5;
  --color-pink: #F6DADA;

  --header-background-color: var(--color-yellow);
  --footer-background-color: var(--color-extra-gark-grey);
  --filters-sidebar-background-color: var(--color-extra-light-grey);
  --feedback-input-color: #F2F2F2;
}

body {
  font-family: var(--font-open-sans);
  font-weight: 300;
  color: var(--color-black);
  min-width: 1060px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  padding-top: 38px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  color: inherit;
  border: 0;
  text-align: center;
  position: relative;
  font-family: var(--font-gilroy);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
}

.button::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 8px;
  top: 7px;
  left: 0;
  background-color: var(--color-dark-yellow);
  z-index: -1;
}

.button:hover:before,
.button:focus:before {
  top: 0;
  height: 100%;
}

.main-header-container {
  background-color: var(--header-background-color);
  width: 1040px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 40px;
  padding-top: 30px;
  position: relative;
}

.main-header-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}

.logo-header {
  position: absolute;
  top: -20px;
  left: 60px;
}

.logo-header:hover,
.logo-header:focus {
  opacity: 0.6;
}

.logo-header:active {
  opacity: 0.3;
}

.find-form {
  width: 440px;
  position: relative;
}

.find-form-input {
  width: 307px;
  border: 0;
  background-color: transparent;
  font-size: 15px;
  line-height: 20px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: left 18px;
  padding-top: 14px;
  padding-left: 37px;
  padding-right: 15px;
  padding-bottom: 14px;
  border-bottom: 2px solid transparent;
}

.find-form-input::placeholder {
  font-size: 15px;
  line-height: 20px;
  opacity: 0.3;
}

.find-form-input:hover::placeholder,
.find-form-input:focus::placeholder {
  opacity: 0.6;
}

.find-form-input:focus {
  border-bottom: 2px solid var(--color-black);
}

.find-form-button {
  display: none;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  background: transparent;
  text-align: center;
  cursor: pointer;
  border: 2px solid var(--color-black);
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  padding: 13px 13px;
}

.find-form-input:focus + .find-form-button {
  display: block;
}

.find-form-button:hover,
.find-form-button:focus {
  background-color: var(--color-black);
  color: var(--color-white);
  display: block;
}

.find-form-button:active {
  color: var(--color-black);
}

.profile {
  width: 500px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 14px;
}

.profile .profile-login {
  margin-right: auto;
}

.profile .profile-compare {
  margin-right: 40px;
}

.profile .profile-logged-compare {
  margin-right: auto;
}

.profile .profile-user {
  margin-right: 21px;
}

.profile .profile-logout {
  margin-right: 64px;
}

.profile-link {
  color: inherit;
  font-size: 15px;
  line-height: 20px;
}

.profile-link-logout {
  opacity: 0.3;
}

.profile-link:hover,
.profile-link:focus {
  opacity: 0.6;
}

.profile-link:active {
  opacity: 0.3;
}

.profile-link-icon {
  padding-left: 24px;
  background-repeat: no-repeat;
  background-position-y: 6px;
}

.profile-link-user,
.profile-link-login {
  background-image: url("../img/profile-header.svg");
  background-position-x: 2px;
}

.profile-link-compare {
  background-image: url("../img/compare-header.svg");
}

.profile-link-cart {
  background-image: url("../img/cart-header.svg");
  background-position: 1px 5px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  margin-right: 35px;
  margin-bottom: 10px;
}

.menu-catalog {
  margin-right: 314px;
}

.menu-item:nth-child(4) {
  margin-right: -4px;
  margin-left: auto;
}

.menu-link {
  color: inherit;
  font-family: var(--font-gilroy);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.menu-link-catalog {
  background-image: url("../img/more.svg");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 34px;
  letter-spacing: 0.1em;
}

.menu-link:hover,
.menu-link:focus {
  opacity: 0.6;
}

.menu-link:active {
  opacity: 0.3;
}

.submenu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  padding-top: 30px;
  width: 1101px;
  left: 0;
  position: absolute;
  background: var(--header-background-color);
  padding-left: 59px;
  padding-bottom: 42px;
}

.menu-catalog:hover .submenu {
  display: flex;
}

.submenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.submenu li {
  margin-right: 32px;
}

.submenu li:nth-child(2) {
  margin-right: 30px;
}

.submenu-link {
  color: inherit;
  font-size: 15px;
  line-height: 20px;
}

.submenu-link:hover,
.submenu-link:focus {
  opacity: 0.6;
}

.submenu-link:active {
  opacity: 0.3;
}

.submenu-column li {
  margin-bottom: 16px;
}

.submenu-column li:last-child {
  margin-bottom: 0;
}

.popular {
  margin-bottom: 100px;
}

.slide {
  display: flex;
  justify-content: space-around;
}

.slide-content {
  width: 500px;
}

.slider h3 {
  font-family: var(--font-gilroy);
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.slider p {
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 52px;
}

.slider th {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: var(--color-black);
  padding: 10px;
}

.slider td {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: var(--color-black);
  padding: 10px;
}

.button-slider {
  display: inline-block;
  margin-bottom: 52px;
}

.categories {
  margin-bottom: 150px;
}

.categories ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.categories li {
 width: 160px;
}

.categories-image-wrapper {
  background-color: var(--color-yellow);
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories-link {
  color: inherit;
  font-family: var(--font-gilroy);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.categories-link:hover .categories-image-wrapper,
.categories-link:focus .categories-image-wrapper {
  background-color: var(--color-dark-yellow);
}

.categories-link:active h3,
.categories a:active img {
  opacity: 0.3;
}

.services {
  margin-bottom: 100px;
}

.services-container {
  display: flex;
}

.services ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.services .active-service {
  display: block;
  background-color: var(--color-black);
  color: var(--color-yellow);
}

.services h3 {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: var(--color-black);
  margin: 0;
}

.services p {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: var(--color-black);
}

.brands {
  margin-bottom: 86px;
}

.brands ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.info-title {
  font-family: var(--font-gilroy);
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin: 0;
}

.info-text {
  font-size: 15px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 40px;
}

.index-columns {
  padding-bottom: 86px;
}

.index-columns .container {
  display: flex;
  justify-content: space-between;
}

.index-column:before {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  background-color: var(--color-black);
}

.about {
  width: 500px;
  padding-left: 4px;
}

.info-title-about {
  margin-top: 50px;
  margin-bottom: 40px;
}

.contacts {
  width: 557px;
}

.info-title-contacts {
  margin-top: 53px;
  margin-bottom: 37px;
}

.map-link {
  display: block;
  margin-bottom: 83px;
}

.button-contacts {
  padding-left: 39px;
  padding-right: 37px;
}

.about ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  margin-bottom: 77px;
}

.about li {
  font-family: var(--font-gilroy);
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  position: relative;
  padding-left: 31px;
  margin-bottom: 15px;
}

.about li:last-child {
  margin-bottom: 0;
}

.about li:before {
  position: absolute;
  top: 8px;
  left: -1px;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border: 2px solid var(--color-extra-light-grey);
  box-sizing: border-box;
  border-radius: 50%;
}

.button-about {
  padding-left: 23px;
  padding-right: 19px;
}

.catalog-header {
  font-family: var(--font-gilroy);
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin-top: 43px;
  padding-left: 61px;
  margin-bottom: 31px;
}

.breadcrumbs {
  margin-bottom: 50px;
}

.breadcrumbs ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-left: 61px;
}

.breadcrumbs li {
  margin-right: 41px;
  position: relative;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li:after {
  content: "";
  display: block;
  width: 4px;
  height: 7px;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 8px;
  right: -22px;
}

.breadcrumbs li:last-child:after {
  display: none;
}

.breadcrumbs-link {
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.3);
  position: relative;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(0, 0, 0, 0.1);
}

.filters {
  position: relative;
  width: 204px;
  background-color: var(--filters-sidebar-background-color);
  padding-left: 60px;
  padding-right: 64px;
  padding-top: 71px;
}

.filters fieldset {
  border: 0;
  padding: 0;
}

.filters ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filters legend {
  font-family: var(--font-gilroy);
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  border-top: 2px solid var(--color-black);
  width: 100%;
  padding-top: 14px;
}

.fieldset-price {
  margin-bottom: 112px;
}

.fieldset-color {
  margin-bottom: 40px;
}

.fieldset-color legend {
  margin-bottom: 32px;
}

.fieldset-color li {
  margin-bottom: 20px;
}

.fieldset-color li:last-child {
  margin-bottom: 0;
}

.filters-checkbox {
  display: none;
}

.filters-checkbox + label {
  font-size: 14px;
  line-height: 19px;
  position: relative;
  padding-left: 42px;
}

.filters-checkbox + label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-black);
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: -2px
}

.filters-checkbox + label:hover:before {
  opacity: 0.6;
}

.filters-checkbox:checked + label:before {
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.filters-checkbox:disabled + label:before {
  opacity: 0.25;
}

.filters-checkbox:disabled + label {
  opacity: 0.25;
}

.filters-checkbox:active + label:before {
  opacity: 1;
}

.filters-checkbox:disabled:active + label:before {
  opacity: 0.25;
}

.fieldset-bluetooth {
  margin-bottom: 52px;
}

.fieldset-bluetooth legend {
  margin-bottom: 32px;
}

.filters-radio {
  display: none;
}

.fieldset-bluetooth li {
  margin-bottom: 21px;
}

.fieldset-bluetooth li:last-child {
  margin-bottom: 0;
}

.filters-radio + label {
  font-size: 14px;
  line-height: 19px;
  position: relative;
  padding-left: 40px;
}

.filters-radio + label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-black);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -2px;
}

.filters-radio:checked + label:after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  left: 8px;
  top: 6px;
  background-color: var(--color-black);
}

.filters-radio + label:hover:before {
  opacity: 0.6;
}

.filters-radio + label:hover:after {
  opacity: 0.6;
}

.filters-radio:disabled + label:before {
  opacity: 0.25;
}

.filters-radio:disabled + label {
  opacity: 0.25;
}

.filters-radio:disabled:checked + label:after {
  opacity: 0.25;
}

.filters-submit-button {
  padding-left: 39px;
  padding-right: 44px;
  z-index: 1;
}

.filters-submit-button:before {
  top: 8px;
}

.catalog-top {
  background: linear-gradient(to right, var(--color-dark-grey) 34%, var(--color-extra-light-grey) 34%);
}

.catalog-top-container {
  display: flex;
}

.catalog-top-title {
  font-family: var(--font-gilroy);
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.catalog-top-filters-title {
  width: 268px;
  background-color: var(--color-dark-grey);
  padding-left: 60px;
  padding-top: 25px;
  padding-bottom: 24px;
}

.sorts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: var(--color-extra-light-grey);
  width: 760px;
  padding-left: 72px;
}

.sorts ul {
  list-style: none;
}

.sort-options {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.sort-options li {
  margin-right: 25px;
}

.sort-options li:last-child {
  margin-right: 0;
}

.sort-options a {
  color: inherit;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
}

.sort-options a:hover,
.sort-options a:focus {
  opacity: 0.6;
}

.sort-options a:active {
  opacity: 1;
}

.sort-options-current {
  opacity: 1;
}

.catalog-content {
  background: linear-gradient(to right, var(--color-extra-light-grey) 34%, var(--color-white) 34%);
}

.catalog-content-container {
  display: flex;
}

.products {
  width: 759px;
  padding-left: 73px;
  padding-top: 70px;
}

.products ul {
  list-style: none;
}

.products-list {
  display: grid;
  grid-template-columns: 360px 360px;
  grid-gap: 40px;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.products-list li {
  margin-bottom: 8px;
}

.product-image-wrapper:hover .product-controls {
  display: flex;
}

.product-new .product-image-wrapper:before {
  position: absolute;
  content: "New";
  display: flex;
  width: 58px;
  height: 58px;
  font-family: var(--font-gilroy);
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  top: 29px;
  right: 27px;
}

.products-list img {
  margin-bottom: 27px;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product-title {
  color: inherit;
  font-family: var(--font-gilroy);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  display: block;
  width: 275px;
}

.product-price {
  font-family: var(--font-gilroy);
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  margin: 0;
  display: block;
}

.product-image-wrapper {
  position: relative;
}

.product-controls {
  flex-direction: column;
  display: none;
  justify-content: center;
  width: 200px;
  position: absolute;
  top: 180px;
  left: 80px;
  z-index: 2;
}

.product-controls .button {
  margin-bottom: 20px;
}

.product-compare {
  font: inherit;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-decoration: none;
  opacity: 0.5;
  text-align: center;
  border: 0;
  background-color: transparent;
}

.product-compare:hover,
.product-compare:focus {
  opacity: 1;
}

.product-compare:active {
  opacity: 0.2;
}

.pagination ul {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-light-grey);
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.pagination-item-prev {
  margin-right: auto;
}

.pagination-item-next {
  margin-left: auto;
}

.pagination-link {
  color: inherit;
  font-family: var(--font-gilroy);
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  opacity: 0.3;
}

.pagination-link:hover,
.pagination-link:focus {
  opacity: 0.6;
}

.pagination-link:active {
  opacity: 1;
}

.pagination-link-active {
  opacity: 1;
}

.pagination-item-prev .pagination-link,
.pagination-item-next .pagination-link {
  padding-left: 30px;
  padding-right: 30px;
  opacity: 1;
}

.pagination-item-prev .pagination-link:hover,
.pagination-item-next .pagination-link:hover,
.pagination-item-prev .pagination-link:focus,
.pagination-item-next .pagination-link:focus {
  background-color: var(--color-grey);
}

.pagination-item-prev .pagination-link:active,
.pagination-item-next .pagination-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-footer {
  background-color: var(--footer-background-color);
  padding-top: 46px;
  padding-bottom: 64px;
}

.main-footer-wrapper-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}

.logo-footer {
  margin-top: 18px;
}

.logo-footer:hover,
.logo-footer:focus {
  opacity: 0.6;
}

.logo-footer:active {
  opacity: 0.3;
}

.profile-footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.profile-footer li {
  margin-right: 40px;
}

.profile-footer li.profile-footer-username {
  margin-right: -2px;
}

.profile-footer li:last-child {
  margin-right: 0;
}

.profile-footer a {
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.7);
  padding-left: 25px;
  background-repeat: no-repeat;
  background-position-x: 3px;
}

.profile-footer a:hover,
.profile-footer a:focus {
  color: var(--color-white);
}

.profile-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.profile-footer-login {
  background-image: url("../img/profile-footer.svg");
  background-position-y: 6px;
}

.profile-footer-user {
  background-image: url("../img/profile-footer.svg");
  background-position-y: 6px;
}

.profile-footer-compare {
  background-image: url("../img/compare-footer.svg");
  background-position-y: 7px;
}

.profile-footer-cart {
  background-image: url("../img/cart-footer.svg");
  background-position-y: 5px;
}

.main-footer-wrapper-middle {
  display: flex;
  margin-bottom: 78px;
}

address {
  font-size: 15px;
  line-height: 20px;
  color: var(--color-white);
  margin-right: 166px;
}

.menu-footer {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: auto;
}

.menu-footer li {
  margin-right: 33px;
}

.menu-footer li:last-child {
  margin-right: 0;
}

.menu-footer a {
  font-family: var(--font-gilroy);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-white);
}

.menu-footer a:hover,
.menu-footer a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.menu-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-tel {
  font-size: 15px;
  line-height: 20px;
  color: var(--color-white);
  margin: 0;
}

.footer-tel a {
  color: var(--color-white);
}

.main-footer-wrapper-bottom {
  display: flex;
  justify-content: space-between;
}

.main-footer-wrapper-bottom:before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: var(--color-extra-dark-yellow);
}

.socials {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -51px;
  margin-top: -12px;
}

.socials li {
  margin-right: 20px;
}

.socials li:nth-child(3) {
  margin-right: 0;
}

.socials a {
  color: var(--color-white);
}

.socials-link {
  font-size: 0;
  text-decoration: none;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.socials-link:hover {
  opacity: 1;
}

.socials-link:active {
  opacity: 0.2;
}

.socials-link-facebook {
  background-image: url("../img/facebook.svg");
}

.socials-link-instagram {
  background-image: url("../img/instagram.svg");
}

.socials-link-twitter {
  background-image: url("../img/twitter.svg");
}

.developer {
  color: var(--color-white);
  display: block;
  font-size: 0;
  width: 27px;
  height: 34px;
  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: -13px;
}

.developer:hover {
  opacity: 0.6;
}

.developer:active {
  opacity: 0.3;
}

.map {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-close-modal {
  position: absolute;
  top: 29px;
  right: 36px;
  width: 55px;
  height: 55px;
  font-size: 0;
  opacity: 0.5;
  border: 0;
  border-radius: 50%;
  background-color: var(--color-yellow);;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.button-close-modal:hover {
  opacity: 1;
}

.button-close-modal:active {
  opacity: 0.3;
}

.feedback {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 760px;
  background-color: var(--color-white);
  padding-right: 100px;
  padding-left: 99px;
  padding-top: 88px;
  padding-bottom: 69px;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

.feedback p {
  margin: 0;
}

.feedback-wrapper {
  display: flex;
}

.feedback label {
  display: block;
  font-family: var(--font-gilroy);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
}

.feedback-field {
  width: 320px;
  background-color: var(--feedback-input-color);
  border: 0;
  padding: 18px 20px 17px;
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-extra-gark-grey);
}

.feedback-field-textarea {
  width: 720px;
  height: 132px;
}

.feedback-field-error {
  background-color: var(--color-pink);
}

.feedback-field::placeholder {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.4);
}

.feedback-field:hover {
  background-color: var(--color-medium-light-grey);
}

.feedback-field:focus {
  background-color: var(--color-white);
  outline: 2px solid var(--color-yellow);
}

.feedback .feedback-text {
  margin-bottom: 50px;
}

.feedback-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.feedback .button {
  z-index: 1;
  padding-left: 34px;
  padding-right: 35px;
}

.feedback .button:before {
  top: 8px;
  background-color: var(--color-yellow);
}

.feedback .button:hover:before {
  top: 0;
}

.feedback .button-close-modal {
  top: 17px;
  right: 20px;
}
